
<table>
	<thead>
		<tr>
			<?php foreach (array_keys($table_data[0]) as $key): ?>
				<th>
					<a class="order-btn" href="?<?= http_build_query(['asc' =>1 - _get('asc'), 'table' => $table, 'order' => $key]) ?>">
						<?= $key ?>
						<?php if (_get('order') == $key): ?>
							<?= _get('asc') ? '↑' : '↓' ?>
						<?php endif ?>
					</a>
				</th>
			<?php endforeach ?>
		</tr>
	</thead>
	<tbody>
		<?php foreach ($table_data as $v): ?>
			<tr>
				<?php foreach ($v as $value): ?>
					<td><?= htmlspecialchars($value) ?></td>
				<?php endforeach ?>
				<td>
					<a href="edit?<?= http_build_query(['table' => $table, 'act' => 'update', 'id' => $v[$pkey]]) ?>">edit</a>
					<a href="insert?<?= http_build_query(['table' => $table, 'act' => 'insert', 'id' => $v[$pkey]]) ?>">copy</a>
				</td>
			</tr>
		<?php endforeach ?>
	</tbody>
</table>
