<table>
	<thead>
		<tr>
			<?php foreach (array_keys($table_data[0]) as $key): ?>
				<th>
					<input class="where-input" name="where[<?= $key ?>]" value="<?= isset($where[$key]) && $where[$key] !== '' ? $where[$key] : '' ?>">
				</th>
			<?php endforeach ?>
		</tr>
		<tr>
			<?php foreach (array_keys($table_data[0]) as $key): ?>
				<th>
					<a class="order-btn" href="?<?= append_query(['asc' =>1 - _get('asc'), 'table' => $table, 'order' => $key]) ?>">
						<?= $key ?>
						<?php if (_get('order') == $key): ?>
							<?= _get('asc') ? '↑' : '↓' ?>
						<?php endif ?>
					</a>
				</th>
			<?php endforeach ?>
		</tr>
	</thead>
	<tbody>
		<?php foreach ($table_data as $row): ?>
			<tr>
				<?php foreach ($row as $key => $value): ?>
					<td
						<?php if ($value && ($value[0] === '[' || $value[0] === '{') && ($o = json_decode($value))): ?>
							title="click to show pretty json"
							class="json-viewer"
							data-plain="<?= htmlspecialchars($value) ?>"
							data-is-pretty="0"
						<?php endif ?>
					>
					<?php if (isset($fkt[$key])): ?>
						<a href="?<?= build_forein_key_query($fkt[$key], $value) ?>"><?= htmlspecialchars($value) ?></a>
					<?php else: ?>
						<?= htmlspecialchars($value) ?>
					<?php endif ?>
					</td>
				<?php endforeach ?>
				<td>
				<?php if (!$GLOBALS['config']['readonly'] && $table): ?>
					<a href="edit/<?= $row[$pkey] ?>?<?= append_query(['table' => $table, 'id' => $row[$pkey]]) ?>">edit</a>
					<a href="insert?<?= append_query(['table' => $table, 'id' => $row[$pkey]]) ?>">copy</a>
				<?php endif ?>
				</td>
			</tr>
		<?php endforeach ?>
	</tbody>
</table>

<script type="text/javascript">
	$(function () {
		var wi = $('.where-input').on('keypress', function (e) {
			if (e.charCode === 13) {
				var str = [];
				wi.each(function (i, input) {
					var $input = $(input);
					var k = encodeURIComponent($input.attr('name'));
					var v = encodeURIComponent($input.val());
					str.push(k+'='+v);
				});
				var query = str.join('&');
				window.location.href = '?dbname=<?= $dbname ?>&table=<?= $table ?>&'+query;
			};
		})
	})
</script>
