<?php if (isset($confirm_sql)) include 'confirm.html' ?>
<h1>
	<a href="index?table=<?= $table ?>"><?= $table ?></a>
</h1>
<form method="post">
	<?php foreach ($row as $key => $value): ?>
		<div>
		<label>
			<span class="left-label"><?= $key ?></span>
			<?php if ($desc[$key]['Type'] === 'mediumtext'): ?>
				<textarea name="<?= $key ?>"><?= $value ?></textarea>
			<?php else: ?>
				<input name="<?= $key ?>" value="<?= htmlspecialchars($value) ?>">
			<?php endif ?>
		</label>
		<label>
			<input type="checkbox" name="<?= $key ?>_is_null"
			<?php if (filter_input(INPUT_POST, $key.'_is_null')): ?>
				checked
			<?php endif ?>
			>
			null
		</label>
		|
		<span>
			<?= $desc[$key]['Type'] ?>
		</span>
		</div>
	<?php endforeach ?>
	<input type="hidden" name="table" value="<?= $table ?>">
	<input type="hidden" name="pkey" value="<?= $pkey ?>">
	<button>准备修改</button>
</form>
