<div id="Side">
<h2>数据库</h2>
<ul>
	<?php foreach (Service('config')['dbnames'] as $db => $_): ?>
		<li>
			<a href="?dbname=<?= $db ?>">
				<?php if ($dbname === $db) echo htmlspecialchars('>') ?>
				<?= $db ?>
			</a>
		</li>
	<?php endforeach ?>
</ul>

<h2>表</h2>
<ul>
	<?php foreach ($tables as $t): ?>
		<li>
			<a class="table-btn" href="?<?= http_build_query(['table' => $t, 'dbname' => _get('dbname')]) ?>">
				<?php if ($t === _get('table')) echo htmlspecialchars('>') ?>
				<?= $t ?>
			</a>
		</li>
	<?php endforeach ?>
</ul>
</div>

<div id="C">
	<form>
		<input type="hidden" name="dbname" value="<?= $dbname ?>">
		<input type="hidden" name="table" value="<?= $table ?>">
		<textarea class="long" name="sql"><?= $sql ?></textarea>
		<button>执行 SQL</button>
	</form>
	<div>
		<a href="insert?table=<?= $table ?>">insert</a>
	</div>

	<?php if (empty($table_data)): ?>
		no data
	<?php else: include 'data.html'; ?>
	<?php endif ?>
	<?php if ($err): ?>
		<div class="err">
			<?= $err[0] ?>
			<?= htmlspecialchars($err[2]) ?>
		</div>
	<?php endif ?>
</div>
