<?php include 'confirm.html'; $dbname = $GLOBALS['dbname']; ?>

<h1>
	<a href="index?<?= http_build_query(compact('table', 'dbname')) ?>"><?= $table ?></a>
</h1>
<form method="post" action="?dbname=<?= _get('dbname') ?>">
	<?php foreach ($values as $key => $value): ?>
		<div>
		<label>
			<span class="left-label"><?= $key ?></span>
			<input name="<?= $key ?>" value="<?= htmlspecialchars($value) ?>">
		</label>
		<label>
			<input type="checkbox" name="<?= $key ?>_is_null"
			<?php if (filter_input(INPUT_POST, $key.'_is_null')): ?>
				checked
			<?php endif ?>
			>
			null
		</label>
		</div>
	<?php endforeach ?>
	<input type="hidden" name="dbname" value="<?= _get('dbname') ?>">
	<input type="hidden" name="table" value="<?= $table ?>">
	<input type="hidden" name="pkey" value="<?= $pkey ?>">
	<button>准备修改</button>
</form>
