<table>
<thead>
	<tr>
		<td>访问次数</td>
		<td>UA</td>
		<td>IP</td>
	</tr>
</thead>
<?php foreach ($info as $vk => $value): ?>
	<tr>
		<td><?= $value['cnt'] ?></td>
		<td><?= htmlspecialchars($value['ua']) ?></td>
		<td><?= long2ip($value['ip']) ?></td>
	</tr>
<?php endforeach ?>
</table>
<table>
	<thead>
		<tr>
			<td>日期</td>
			<td>UV</td>
			<td>PV</td>
		</tr>
	</thead>
<?php foreach ($table as $date => $v): ?>
	<tr>
		<td><?= $date ?></td>
		<td><?= $v['uv'] ?></td>
		<td><?= $v['pv'] ?></td>
	</tr>
<?php endforeach ?>
</table>
